SECRET_KEY="creamos_una_clave_de_JWT_para_poder_realizar_el_parcial_2"
POSTGRES_USER=TU_USER/postgres <- por defecto es este sino coloca tu usuario de postgres
POSTGRES_PASSWORD=TU_PASSWORD/postgres <- por defecto es esta sino coloca tu password de postgres
POSTGRES_DB=NOMBRE_DB <- coloca tu nombre de tu base de datos
POSTGRES_HOST=localhost <- por defecto es este 
POSTGRES_PORT=5432 <- por defecto es este sino coloca tu puerto de postgres
DATABASE_URL=postgresql://TU_USER:TU_PASSWORD@localhost:5432/NOMBRE_DB

MP_ACCESS_TOKEN=TU-ACCESS-TOCKEN
MP_PUBLIC_KEY=TU-PUBLIC-KEY

MP_WEBHOOK_URL=NGROK-URL/api/v1/pagos/webhook
NGROK_URL=NGROK-URL

CORS_ORIGINS=http://localhost:5173 <- por defecto es este

VITE_FRONTEND_URL=http://localhost:5173 <- por defecto es este
VITE_API_URL=http://localhost:8000 <- por defecto es este